.body {
    max-width: 450px;
    position: relative;
}

.banner {
    color: salmon;
    /* margin: 1em; */
}

footer>img {
    width: 100vw;
}

ul {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    justify-content: space-evenly;
    justify-items: center;
}

header{
    height: 12vh;
}

.portal {
    height: 48vh;
    text-align: center;
}

footer{
    padding: .5em;
    height: 40vh;
}

.boom {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    pointer-events: none;
}