.body {
    max-width: 450px;
    position: relative;
}

.banner {
    color: salmon;
    /* margin: 1em; */
}

footer>img {
    width: 100vw;
}

ul {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    justify-content: space-evenly;
    justify-items: center;
}

header{
    height: 15vh;
}

.portal {
    height: 50vh;
}

footer{
    padding: .5em;
    height: 35vh;
}