.App {
  text-align: center;
  width: 100vw;
}

@font-face {
  font-family: 'title';
  src: url('./assets/fonts/SpicyRice-Regular.ttf');
 }
 
 @font-face {
  font-family: 'subtitle';
  src: url('./assets/fonts/SuperDream.ttf')
 }

 .title {
  font-family: 'title', Impact, 'Arial Narrow Bold', sans-serif;
  letter-spacing: 1px;
  word-spacing: 3px;
 }

 .subtitle, h2 {
  font-family: 'subtitle', Arial, Helvetica, sans-serif;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

 a {
  color: inherit;
  text-decoration: none;
 }